
#agrosavia .disclaimers-title {
    padding-top:65px;
    margin-bottom: 30px;
}

#agrosavia .sub-header {
    font: 25px/12px "Saira Semi Condensed", sans-serif;
    line-height: .5em;
    margin: 10px 0 12px auto;
}

#agrosavia .content {
    margin: 40px,0;
    width: 100%;
    height: auto;
}

#agrosavia a{
font: 18px "Saira Semi Condensed", sans-serif;
display: inline-block;
color: #3d58a3;
text-decoration: none;
line-height: 20px;
font-weight: 500;
}

#agrosavia a:hover, #agrosavia label:hover{
 font-weight: 800;
}
