#joinUs {
    background: #3d58a3;
    padding: 65px 0 65px 0;
    overflow: hidden;
  }

#joinUs .join-us-paragraph {
    margin:20px 0 50px 0;
  }

  #joinUs h2 {
    font: 35px/30px "Saira Semi Condensed", sans-serif;
    color: #fff;
    margin-bottom: 12px;
  }
  #joinUs p {
    line-height: 30px;
    color: #fff;
  }
  #joinUs ul {
    margin: 20px 0 50px 0;
  }

  #joinUs li {
    line-height: 20px;
    margin-bottom: 20px;
    color: #fff;
  }

  #joinUs .contact-details {
    width: 41.66667%;
  }
  #joinUs .main-col {
    padding-right: 5%;
  }
  #joinUs .email-us .button {
    background: #1c2c55;
  }
  #joinUs .email-us .button:hover {
    background: #fff;
    color:#1c2c55;
  }
  #joinUs .email-us .button i {
    margin-right: 15px;
    font-size: 20px;
  }

  #joinUs a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 20px;
    font-weight: 500;
    }

    #joinUs a:hover, #agrosavia label:hover{
     font-weight: 800;
    }