#pipe {
    background: #fefefe url(../../assets/images/pipes/pipeBlue.png) no-repeat 0 0;
    background-size: 25%;
    background-position: 50% 55%;
    padding-top: 90px;
    padding-bottom: 100px;
  }
   #pipe .pipeline h2 {
    font: 30px "Saira Semi Condensed", sans-serif;
    font-weight: 600;
   }
   .pipeline p{
    margin: 0 auto 8px auto;
    word-spacing: normal;
   }
   #pipe .pipeContent {
    margin: 20px 0 30px 0;
    color: #3d58a3c5;
   }
  #pipe #pathogen {
    float: right !important;
  }
  #pipe #globe {
    float: left !important;
  }

/* ==================================================================
* Media Queries
/* ================================================================== */

@media screen and (min-width: 2000px) {
    #pipe {
      background-size: 15%;
    }
  }
/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
    #pipe{
        background: none;
       }
}