.partners-item {
    overflow: hidden;
    position: relative;
    display: block;
    background: #fff;
    width: 45%;
    margin: 20px;
    padding: 0 !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s;
  }
  .partners-item .a {
    color: inherit;
    text-decoration: none;
  }
  .partners-item:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  }
  .partners-item .head {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    background-color:#3d58a3;
    transition: height 0.3s;
  }
  .partners-item .head img{
    width: 100%;
    display: block;
    opacity: 1;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

.partners-item:hover .head img{
    opacity: 0.75;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    width: 100%;
    transform: scale(1.05);
  }
  .partners-item .partners-content {
    position: relative;
    transition: height 0.3s;
    padding: 10px;
  }
  .partners-item .partners-content h2 {
    margin: 0;
    line-height: 45px;
    font-size: 35px !important;
  }
  .partners-item .partners-content h3 {
    margin: 0;
    line-height: 35px;
    font-size: 25px !important;
  }
  .partners-item .partners-content h4 {
    margin: 0;

    font-size: 20px !important;
    line-height: 25px !important;
  }
  .partners-item .partners-content description {
    position: relative;
    left: 20px;
    right: 20px;
    bottom: 65px;
    margin: 0;
    padding: 0;
    color: #666C74;
    font-size: 14px;
    line-height: 27px;
    opacity: 0;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition-delay: 0s;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  .partners-item .partners-content description {
    opacity: 1;
    transition-delay: 0.1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .partners-item .displayLinebreak {
    white-space: pre-line;
    font: "roboto", sans-serif;
    line-height: 1.25em;
  }

/* ==================================================================
* Media Queries
/* ================================================================== */

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  .partners-item {
    margin: 15px;
  }
}

/* mobile narrow
-------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
    .partners-item .head {
        height: 250px;
    }
    .partners-item .partners-content h2 {
        font-size: 28px !important;
    }
    .partners-item .partners-content h3 {
        font-size: 24px !important;
    }
}

