#partners-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1148px;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
  }

/* ==================================================================
* Media Queries
/* ================================================================== */

  /* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    #partners-wrapper .columns {
      margin-bottom: 40px;
   }
}