.banner-text h1 {
  font: 65px "Saira Semi Condensed", sans-serif;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 100%;
}
.banner-text h2 {
  font-size: calc(65px / 2)!important;
  font-weight: 800;
}
.banner-text p {
  font-size: calc(65px / 4) !important;
  margin-top: 0;
}
.banner-text img {
  max-width:30%;
}

/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
    .banner-text h1 {
      font: 61px/1.1em 'Saira Semi Condensed', sans-serif;
      font-weight: 600;
      margin: 12px auto;
   }
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

   /* .banner { padding-bottom: 12px; } */
   .banner-text h1 {
      font:55px/1em 'Saira Semi Condensed', sans-serif;
      font-weight: 600;
   }
   .banner-text h3 {
      font: 17px/1.9em 'Saira Semi Condensed', serif;
      font-weight: 600;
      width: 80%;
   }
}

@media only screen and (max-width: 768px) {

    .banner-text h1 {
     font: 55px/1.1em 'Saira Semi Condensed', sans-serif;
     font-weight: 600;
     margin: 12px auto;
    }
    .banner-text h2
    {
     font: 1.38em 'Saira Semi Condensed', sans-serif !important;
     font-weight: 600 !important;
    }
    .banner-text img {
     max-width: 30%;
    }
}

/* mobile narrow
-------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {

   .banner-text h1 {
     font: 53px/1em 'Saira Semi Condensed', sans-serif;
     font-weight: 600;
     margin: 5px auto;
   }
   .banner-text h2 {
       font: 1.18em 'Saira Semi Condensed', sans-serif !important;
       font-weight: 800 !important;
       letter-spacing: .019em !important;
       margin: 0 auto 10px;
    }
   .banner-text p {
      font: 16px/1.2em 'roboto' !important;
    }
   .banner-text img {
      max-width: 45%;
    }
}