
/* ------------------------------------------------------------------ */
/* About Section
/* ------------------------------------------------------------------ */
#about {
    background: #3d58a3;
    background-repeat: no-repeat;
    padding: 65px 0 65px 0;
    }

#about h2 {
    color: #fff;
    margin: 10px 0 12px auto;
}
#about li {
    line-height: 55px;
    color: #fff;
    margin:  10px 0 1px auto;
}
#about ul li .about-break{
    display: none;
}
#about .about-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}
#about .img-wrapper {
    width: 20%;
    display: inline-block;
}
#about .aboutUs {
    margin-top: 67px;
    width: 100%;
    height: auto;
}
#about .content {
    margin-left: 45px;
}

/* ==================================================================
* Media Queries
/* ================================================================== */

/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
    #about .content {
        padding: 15px;
        margin-left: 15px;
    }
    #about li {
        line-height: 53px;
        color: #fff;
        margin:  10px 0 1px auto;
    }
    #about .img-wrapper {
        width: 14%;
        display: inline-block;
    }
    #about .aboutUs {
        margin-top: 77px;
        width: 100%;
        height: auto;
    }
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
    #about .about-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about .img-wrapper {
        width: 34%;
        margin-bottom: 30px;
    }
    #about ul li .about-break {
        display: inherit;
    }
}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
    #about .about-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about .img-wrapper {
         width: 85%;
         margin-bottom: 30px;
    }
    #about ul li .about-break {
         display: inherit;
    }
    #pipe .pipeContent {
    width: 100%
    }
}
/* mobile narrow
-------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
    #about .about-wrapper{
        margin: 0 20px;
    }
    #about .img-wrapper {
        width: 100%;
    }
    #about .content {
        margin: 0 auto;
    }
    #about .aboutUs {
        margin: 0 0 30px 0;
    }
    #about h2 {
        margin: 0 0 30px 0;
    }
    #about li {
        line-height: 1.35em;
        margin-bottom: 30px;
    }
    #about ul li .about-break {
        display: inherit;
    }
}
