#nav-wrap {
    overflow: hidden;
    font: 18px "Saira Semi Condensed", sans-serif;
    background:#fefefe;
    padding: calc(18px * 0.75) 18px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 100;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
  }
  #nav-wrap .ghru-logo {
    max-width: calc(18px * 10);
    float: left;
  }
  #nav-wrap a, nav-wrap label {
    display: inline-block;
    padding: 20px;
    color: #3d58a3;
    text-decoration: none;
    line-height: 20px;
    font-weight: 500;
  }
  #nav-wrap a:hover, #nav-wrap label:hover {
    font-weight: 800;
  }
  #nav-wrap label {
    float: right;
    padding: 5px 20px;
    cursor: pointer;
  }
  #nav-wrap label:after {
    content: "\2261";
    font-size: 1.8em;
  }
  nav {
    /* float: right; */
    max-height: 0;
    width: 100%;
    -webkit-transition: max-height 0.3s;
       -moz-transition: max-height 0.3s;
         -o-transition: max-height 0.3s;
            transition: max-height 0.3s;
  }
  nav ul {
    margin: 0;
    padding: 0;
     padding-bottom: 10px;
  }
  nav li {
    display: block;
    text-align: center;
  }
  nav a {
    padding: 10px;
    width: 100%;
  }

  #nav { display: none; }

  #nav:checked ~ nav {
    max-height: 450px;
  }


/* ==================================================================
* Media Queries
/* ================================================================== */


/* mobile wide/smaller tablets
---------------------------------------------------------------------- */
  @media only screen and (min-width: 768px) {
    #nav-wrap label {
      display: none;
    }
    nav {
      /* position: absolute; */
      width: auto;
      max-height: none;
    }
    nav ul {
      padding: 0;
      padding-right: 10px;
    }
    nav li {
      display: inline-block;
      text-align: left;
    }
    #nav-wrap nav a {
      display: inline-block;
      padding: 20px 10px;
      width: auto;
    }
  }
  /* hide toggle button */
  #nav-wrap > a.mobile-btn {
    display: none;
  }
  ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
  }
  ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
  }
  /* Links */
  ul#nav li a {
    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
    display: inline-block;
    padding: 10px 15px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
  }
  ul#nav li a:active {
    background-color: transparent !important;
  }
  ul#nav li.current a {
    color: #5f3b8b;
  }