#videoContent {
    padding: 65px 0 65px 0;
    background:linear-gradient(180deg,#fff 0,rgba(255, 254, 254, 0.401) 30%), url(../../assets/images/jsgrid.svg);
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }