#home2 {
    position: relative;
    background: #fefefe url(../../assets/images/genomebg.png) no-repeat center;
    height: 600px;
    min-height: 500px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    text-align: right;
    overflow: hidden;
  }