header {
    position: relative;
    height: 640px;
    min-height: 500px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    text-align: right;
    overflow: hidden;
  }