#partners {
    background:linear-gradient(180deg,#fff 0,rgba(255, 254, 254, 0.401) 70%), url(../../assets/images/jsgrid.svg);
  }

#partners .partners-title , .partners-video {
    padding-top:65px;
    margin-bottom: 30px;
  }

  .partners-video-container{
    background:#f8fbfc;
    padding-bottom: 60px;
  }

