.mapPanel {
    background: #3d58a3;
    padding: 65px 0 65px 0;
    color: #fff !important;
  }
  .mapPanel h2 {
    color: #fff !important;
  }
  .map-item {
    position: relative;
  }
  .map-item .mapMarks {
    width: 100%;
  }
  .map-list-container .map-list {
    text-align: center;
  }