#footer {
  background: #1c2c55;
  width: 100%;
}

.footer-grid {
  padding: calc(18px * 0.75) 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.logo-grid-item, .copyright {
 height: 80px;
}

.copyright {
  color: #fff;
  display: flex;
  align-items: center;
}

/* ==================================================================
* Media Queries
/* ================================================================== */

@media only screen and (min-width: 768px) {

.footer-grid {
  padding: calc(18px * 0.75) 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }

}