.banner {
  display: block;
  color: #3d58a3;
  margin: 50% auto 0 auto;
  width: 90%;
  text-align: left;
}

/* Ambient video background */
video {
    display: inline-block;
    width: auto;
    height: 56.25vw;
    min-height: 100%;
    min-width: 177.7777777778vh;
    position: absolute;
    top: 57%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
    background: #fefefe url(../../assets/images/lab_bg.png) no-repeat center;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100% !important;
  }


/* ==================================================================
* Media Queries
/* ================================================================== */

@media (min-width: 1281px) {
  .banner {
    margin-top: calc(12% + 88px);
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .banner {
    margin-top: calc(15% + 88px);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    margin-top: calc(19% + 88px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .banner {
    margin-top: calc(20% + 88px);
  }
  .banner-text h1 {
    font-size: 50px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .banner {
    margin-top: calc(18% + 88px);
  }
}
